            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.widget.name"
                   class="form-control"
                   value="Name"
                    placeholder="HTML Widget"/>

            <label for="text">Text</label>
            <div       id="text"
                       ng-model="model.widget.text"
                       text-angular
                       ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]"></div>

            <a ng-click="model.deleteWidget(model.widgetId)"
               class="btn btn-danger btn-block">Delete</a>



