
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row"></div>
        <div class="navbar-header pull-left" id="Testerh">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Edit Widget
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widgetId,model.widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok right"></span>
            </a>
        </p>
    </div>
    </div>
</nav>



<div class="container-fluid">

    <div ng-include="model.EditWidgetUrl(model.widget)"></div>

</div>


<div ng-include="'views/common/footer/footer.view.client.html'"></div>


