
            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.widget.name"
                   class="form-control"
                   placeholder="Name"/>

            <label for="text">Text</label>
            <input class="form-control"
                   ng-model="model.widget.text"
                      id="text"
                      placeholder="Text"/>

            <label for="url">URL</label>
            <input id="url"
                   ng-model="model.widget.url"
                   class="form-control"
                   type="url"
                   value="https://www.youtube.com/"/>

            <label for="width">Width</label>
            <input id="width"
                   class="form-control"
                   ng-model="model.widget.width"
                    placeholder="100%"/>

            <label for="file">Upload Image</label>
            <input id="file"
                   type="file" multiple class="form-control"/>

            <a href=""
               class="btn btn-block btn-success">Upload</a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-danger btn-block">Delete</a>


