            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.widget.name"
                   class="form-control"
                   value="Name"
                    placeholder="Name"/>

            <label for="text">Text</label>
            <input class="form-control"
                      id="text"
                      ng-model="model.widget.text"
                      value="US Senate Compromise"
            placeholder="Text"/>

            <label for="size">Size</label>
            <select id="size" class="form-control" ng-model="model.widget.size">
                <option value="1">1(XL)</option>
                <option value="2">2(L)</option>
                <option value="3">3(M)</option>
                <option value="4">4(S)</option>
                <option value="5">5(XS)</option>
                <option value="6">6(XXS)</option>

            </select>

            <a ng-click="model.deleteWidget(model.widgetId)"
               class="btn btn-danger btn-block">Delete</a>



