<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4 visible-md visible-lg">
                <div class="row">
                    <div class="col-sm-9">
                        <span class="navbar-text">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </span>
                        <a href="#" class="navbar-brand">Pages</a>
                    </div>
                    <div class="col-sm-1 pull-right">
                        <span class="navbar-text pull-right">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                                <span class="glyphicon glyphicon-plus right"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div id="second-pane" class="col-xs-12 col-md-8">
                <div class="row">
                    <div class="col-xs-10">
                        <span class="navbar-text hidden-lg hidden-md pull-left">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </span>
                        <span class="navbar-brand">New Page</span>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <span class="navbar-text pull-right">
                            <a ng-click="model.createPage(page)" class="navbar-link">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-sm hidden-xs">
            <ul class="list-group">

                <li ng-repeat="page in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-xs-10">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                                {{page.name}}
                            </a>
                        </div>
                        <div class="col-md-2 col-xs-2">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"/>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <!--<div class="col-lg-3 hidden-md hidden-sm hidden-xs">-->
        <div class="col-xs-12 col-md-8 ">
            <label for="name">Name</label>
            <input ng-model="page.name"
                   id="name"
                   placeholder="Page Name"
                   class="form-control"/>

            <label for="title">Title</label>
            <input ng-model="page.description"
                   class="form-control"
                   placeholder="Page Title"
                   id="title"/>

            <!--<a ng-click="model.createPage(page)"-->
               <!--class="btn btn-success btn-block">Create</a>-->
        </div>
    </div>
</div>


<div ng-include="'views/common/footer/footer.view.client.html'"></div>